.oh-snack-container {
  left: 50%;
  transform: translateX(-50%);
  max-width: 700px;
}

.oh-snack {
  margin: 0 auto;
  .os-content {
    font-family: sans-serif;
    min-width: 250px;
    background-color: #333;
    color: rgb(236, 236, 236);
    text-align: center;
    border-radius: 3px;
    .os-close {
      color: rgba(236, 236, 236, 0.7);
    }
  }
}
