.oh-snack {
  font-family: sans-serif;
  min-width: 250px;
  background-color: #333;
  color: rgb(236, 236, 236);
  text-align: center;
  border-radius: 3px;
  padding: 20px 25px;
  left: 50%;
  transform: translateX(-50%);
}
