.oh-snack-container {
  position: fixed;
  z-index: 1;
  width: auto;

  @mixin center {
    left: 50%;
    transform: translateX(-50%);
    & .oh-snack {
      margin: 0 auto;
    }
  }

  @mixin animation($position) {
    .oh-snack {
      &.os-show-default {
        overflow: hidden;
        @if ($position == 'bottom') {
          animation: os-expand 3s ease, os-fade-in 0.6s,
            os-slide-in-bottom 0.6s ease;
        } @else {
          animation: os-expand 3s ease, os-fade-in 0.6s,
            os-slide-in-top 0.6s ease;
        }
      }
      &.os-hide-default {
        overflow: hidden;
        animation: os-fade-out 0.5s forwards, os-shrink 0.5s 0.1s forwards;
      }
    }
  }

  &.os-topleft {
    display: flex;
    flex-direction: column-reverse;
    top: 0;
    left: 0;
    @include animation('top');
  }
  &.os-topcenter {
    display: flex;
    flex-direction: column-reverse;
    top: 0;
    @include center;
    @include animation('top');
  }
  &.os-topright {
    display: flex;
    flex-direction: column-reverse;
    top: 0;
    right: 0;
    @include animation('top');
    .oh-snack {
      margin-left: auto;
    }
  }
  &.os-bottomright {
    bottom: 0;
    right: 0;
    @include animation('bottom');
    .oh-snack {
      margin-left: auto;
    }
  }
  &.os-bottomcenter {
    bottom: 0;
    @include center;
    @include animation('bottom');
  }
  &.os-bottomleft {
    bottom: 0;
    left: 0;
    @include animation('bottom');
  }
}
.oh-snack {
  width: fit-content;

  .os-content {
    display: flex;
    align-items: center;
    p {
      width: 100%;
      margin: 0;
      padding: 5px 0;
    }
    .os-close {
      display: block;
      margin: 0 -10px 0 10px;
      padding: 0;
      width: 30px;
      height: 30px;
      outline: none;
      border: none;
      background: none;
      font-size: 28px;
      line-height: 30px;
    }
  }
}

@keyframes os-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes os-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes os-slide-in-bottom {
  from {
    transform: translateY(150px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes os-slide-in-top {
  from {
    transform: translateY(-150px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes os-expand {
  from {
    max-height: 0;
  }
  to {
    max-height: 800px;
  }
}

@keyframes os-shrink {
  from {
    max-height: 800px;
  }
  to {
    max-height: 0;
  }
}
